.controller {
  height: 100%;
  width: 100%;
}

.left, .right {
  position: absolute;
  width: 50%;
  left: 0;
  top: 0;
  height: 100%;
  background: rgba(255, 0, 0, 0.5);
}
.right {
  left: 50%;
  background: rgba(0, 255, 0, 0.5);
}

.btnRun, .btnStop {
  position: absolute;
  left: 100px;
  top: 100px;
  z-index: 1;
}