/**
 * @File   : base.scss
 * @Author : dtysky (dtysky@outlook.com)
 * @Link   : dtysky.moe
 * @Date   : 2018-7-8 00:15:02
 */
.view-gui {

}

.view-gui-init {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  @media (min-aspect-ratio: 16 / 9) {
    width: 100%;
    height: auto;
  }
  @media (max-aspect-ratio: 16 / 9) {
    width: auto;
    height: 100%;
  }
  position: absolute;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.view-gui-start {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #101935;

  &-border {
    position: absolute;
    width: 94%;
    height: 94%;
    border-width: 2px;
    border-style: solid;

    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 50%;
      height: 80%;
      border-right-width: 1px;
      border-right-style: solid;
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 20%;
      left: 50%;
      transform: translateX(-50%);
      height: 15%;
      bottom: 5%;
      border-width: 2px;
      border-style: solid;
      box-sizing: border-box;
    }

    &-1 {
      left: 3%;
      top: 2%;
    }

    &-2 {
      left: 4%;
      top: 3%;
    }
  }

  &-players {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
  }

  &-player {
    width: 50%;
    text-align: center;

    &-qr {
      border-width: 8px;
      border-style: solid;
    }

    &-roles {
      display: flex;
      justify-content: space-between;
      width: 256px;
      margin: auto;
      margin-top: 12px;
    }

    &-role {
      width: 80px;
      height: 80px;
      font-size: 36px;
      color: #fff;
      line-height: 80px;
      text-align: center;
    }

    &-w {

    }

    &-h {

    }
  }

  &-confirm {
    position: absolute;
    width: 18%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 9%;
    cursor: pointer;
  }

  &-r {
    border-color: #f3025b;
    
    &:before, &:after {
      border-color: #f3025b;
    }

    .view-gui-start-player-qr {
      border-color: #f3025b;
    }

    .view-gui-start-player-role {
      background: #831d4a;
    }
  }

  &-b {
    border-color: #2f81f8;

    &:before, &:after {
      border-color: #2f81f8;
    }

    .view-gui-start-player-qr {
      border-color: #2f81f8;
    }

    .view-gui-start-player-role {
      background: #264f95;
    }
  }
}

@keyframes step-pop {
  from {
    transform: translate(-50%, -50%) scale(.6);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}

.view-gui-steps {
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .7);

  &-step {
    display: block;
    position: absolute;
    opacity: 0;
    width: 40%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &-active {
      opacity: 1;
      animation: 300ms step-pop ease-out;
    }
  }
}

.view-gui-end {
  position: absolute;
  z-index: 4;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .7);

  &-result {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    >img {
      display: block;
      width: 600px;
      height: 630px;
    }
  }

  &-restart {
    display: block;
    width: 300px;
    margin: auto;
  }
}
